<!doctype html>
<html class="no-js" lang="en">

<head>
    <% include meta.ejs %>
</head>
<style>
    .panel-info {
        border-color: #bce8f1;
        height: 100%;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid #d9edf7;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .panel-info>.panel-heading {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
        padding: 10px 15px;
        border-bottom: 1px solid #d9edf7;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .panel-body {
        padding: 15px;
    }

    div.img {
        margin: 10px;
        border: 1px solid #ccc;
        float: left;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

<body>


    <!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

    <div class="wrapper">
        <% include header.ejs %>
        <!--Blog Area Start-->
        <div class="blog-area white-bg pt-0 pb-0 mb-50"  style="min-height: 470px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">List of experts</font>
                                    </font>
                                </b>
                            </div>
                            <div class="panel-body" style="height: 100%;">
                                <% for(let i=0,len=researchers.length;i<len;i++){ %>
                                <div class="img">
                                    <a target="_blank" href="<%=researchers[i].link%>">
                                        <img src="<%=researchers[i].images%>" alt="图片文本描述" width="260px" height="235px"></a>
                                    <div class="desc">
                                        <a target="_blank" href="<%=researchers[i].link%>" style="font-size:20px">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    <%=researchers[i].name%>
                                                </font>
                                            </font>
                                        </a>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="panel panel-info">
                            <div class="panel-heading"><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">List of website</font>
                                    </font>
                                </b>
                            </div>
                            <div class="panel-body">
                                <% for(let i=0,len=websites.length;i<len;i++){ %>
                                <div class="img">
                                    <a target="_blank" href="<%=websites[i].link%>">
                                        <img src="<%=websites[i].images%>" alt="图片文本描述" width="260px" height="50px"></a>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include footer.ejs %>
    </div>
    <% include script.ejs %>
</body>

</html>