
<!doctype html>
<html class="no-js" lang="en">
<head>
	<% include meta.ejs %>
</head>
<body>


	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="wrapper">
		<% include header.ejs %>
		<!--Blog Area Start-->
		<div class="blog-area white-bg pt-0 pb-0 mb-70">
		    <div class="container">
		        <div class="row">
                    <!--Blog Post Start-->
		            <div class="col-lg-9">
		                <div class="blog_area">
                            <% for(let i=0,len=newsList.dataList.length;i<len;i++){ %>
                            <article class="blog_single" style="text-align: left;">
                                <header class="entry-header">
                                    <h2 class="entry-title" style="font-size: 20px;">
                                        <a href="/newsDetail?id=<%=newsList.dataList[i].id%>"><%=newsList.dataList[i].title%></a>
                                    </h2>
                                </header>
                                <!--start comment in post page -->
                                <a class="comment" href="/news?page=1&sid=<%=newsList.dataList[i].sid%>" style="display: inline-block;"><%=newsList.dataList[i].sname%></a>
                                <span> | 发布时间：<%=newsList.dataList[i].time%></span>
                                <!--start comment in post page -->
                            </article>
                            <% } %>
                        </div>
                        <div id="info" style="display: none">当前类目下暂无数据！</div>
                        <div class="row">
                            <div class="col-12">
                                <!--Pagination Start-->
                                <div class="product-pagination blog-pagenation">
                                    <ul id="jqpaginatorId"></ul>
                                </div>
                                <!--Pagination End-->
                            </div>
                        </div>
		            </div>
		            <!--Blog Post End-->
		            <!--Blog Sidebar Start-->
		            <div class="col-lg-3">
		                <div class="blog_sidebar">
                            <div class="row_products_side">
                                <div class="product_left_sidbar">
                                    <div class="product-filter  mb-35">
                                      <!--<div class="search__sidbar">
                                         <div class="input_form">
                                            <input id="search_input" name="s" class="input_text" type="text" placeholder="按新闻标题关键字搜索">
                                            <button id="blogsearchsubmit" type="submit" class="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                         </div>
                                      </div>-->
                                    </div>
                                    <div class="product-filter  mb-35">
                                      <h5>新闻分类 </h5>
                                        <div class="blog_Archives__sidbar">
                                            <ul>
                                                <li><a href="/news">全部分类</a></li>
                                                <% for(let i=0,len=classify.length;i<len;i++){ %>
                                                <li><a href="/news?page=1&sid=<%=classify[i].id%>"><%=classify[i].sname%></a></li>
                                                <% } %>
                                            </ul>
                                      </div>
                                    </div>
                                    <!--<div class="product-filter mb-35">
                                        <h5>关键词</h5>
                                       <div class="product-tag blog-tag">
                                            <ul>
                                                <li><a href="#">brand</a></li>
                                            </ul>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
		            </div>
		            <!--Blog Sidebar End-->
		        </div>
		    </div>
		</div>
		<!--Blog Area End-->
		<% include footer.ejs %>
    </div>
    <% include script.ejs %>
    <script src="/layout/js/jqpaginator.min.js"></script>
    <style>
        .first a,.prev a,.next a,.last a{width: 64px !important;}
        .active a{cursor: text}
        .active a:hover{color: #ffffff !important;}
    </style>
    <script>
        var sid='';
        location.href.search('sid')>-1?sid=location.href.split('sid')[1].split('=')[1]:sid='';
        try {
            $('#jqpaginatorId').jqPaginator({
                totalPages: parseInt('<%=newsList.totalPage%>'),
                totalCounts: parseInt('<%=newsList.totalRows%>'),
                visiblePages: 5,
                currentPage: parseInt('<%=newsList.page%>'),
                activeClass: 'active',
                disableClass: 'active',

                first: '<li class="first"><a href="/news?page=1&sid='+sid+'">首页</a></li>',
                prev: '<li class="prev""><a href="/news?page={{page}}&sid='+sid+'">上一页</a></li>',
                next: '<li class="next"><a href="/news?page={{page}}&sid='+sid+'">下一页</a></li>',
                last: '<li class="last"><a href="/news?page={{totalPages}}&sid='+sid+'">尾页</a></li>',
                page: '<li class="page"><a href="/news?page={{page}}&sid='+sid+'">{{page}}</a></li>',
                onPageChange: function (num) {
                    // $('#text').html('当前第' + num + '页');
                    $('.active a').removeAttr('href');
                }
            });
        }catch (e) {
            $('#info').css({'display':'block'})
        }
    </script>
</body>
</html>
