<!doctype html>
<html class="no-js" lang="en">

<head>
    <% include meta.ejs %>
</head>
<style>
    .basic-info .basicInfo-block {
        width: 460px;
        float: left;
    }
    .basic-info .basicInfo-block .basicInfo-item.name {
        width: 150px;
        padding: 0 5px 0 12px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        color: #999;
    }
    .basic-info .basicInfo-block .basicInfo-item.value {
        zoom: 1;
        color: #333;
        width: 285px;
        float: left;
        position: relative;
        word-break: break-all;
    }
    .basic-info .basicInfo-block .basicInfo-item {
        line-height: 26px;
        display: block;
        padding: 0;
        margin: 0;
        float: left;
    }
    .m-grouping .tit li {
        width: auto;
        height: auto;
        text-align: left;
        float: inherit;
    }
    .breadcrumb>li+li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    } 
</style>

<body>


    <!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

    <div class="wrapper">
        <% include header.ejs %>
        <!--Breadcrumb One Start-->
        <div class="breadcrumb-one mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-img">
                            <img src="/layout/img/page-banner/product-banner.jpg" alt="">
                        </div>
                        <div class="breadcrumb-content">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="active">Single Species</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description-review-area mb-100">
            <div class="container">
                <div style="margin-bottom: 50px;">
                    <ul class="nav dec-and-review-menu">
                        <li>
                            <a class="active" data-toggle="tab" href="#">
                                <%=speciesDetail.species%></a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <ol class="breadcrumb " style="margin-bottom: 0px;padding:0px;background-color:#fff;"><span
                                    class="glyphicon glyphicon-tree-deciduous" style="color:#9d9d9d;" title="分类地位"></span>
                                <li>
                                    <%=speciesDetail.order_m%>
                                </li>
                                <li>
                                    <%=speciesDetail.suborder%>
                                </li>
                                <li>
                                    <%=speciesDetail.superfamily%>
                                </li>
                                <li>
                                    <%=speciesDetail.family%>
                                </li>
                                <li>
                                    <%=speciesDetail.subfamily%>
                                </li>
                                <li>
                                    <%=speciesDetail.genus%>
                                </li>
                                <li class="active fenlei" style="color:#aaa;">
                                    <%=speciesDetail.species%>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <% let morphologypics = speciesDetail.morphology_img.split(',') %>
                    <% if(speciesDetail.introduction.length>0){%>
                    <div class="col-md-8">
                        <h2 class="title-text" style="margin-bottom: 20px;">introduction</h2>
                        <span>
                            <%=speciesDetail.introduction%></span>
                        <br>
                    </div>
                    <%}%>
                    <% if(morphologypics[0].length>0){%>
                    <div class="col-md-4">
                        <div class="product-large-thumb img-full" style="margin-top: 60px;">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="<%=morphologypics[0]%>">
                                    <img style="width: 300px;height: 225px" src="<%=morphologypics[0]%>" alt="">
                                </a>
                                <a href="<%=morphologypics[0]%>" class="popup-img venobox" data-gall="myGallery"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                <% if(speciesDetail.body_color.length>0){%>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title-text" style="margin-bottom: 20px;">体色</h2>
                        <span>
                            <%=speciesDetail.body_color%></span>
                        <br>
                    </div>
                </div>
                <%}%>
                <% if(speciesDetail.body_color.length>0){%>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title-text" style="margin-bottom: 20px;">生境型</h2>
                        <span>
                            <%=speciesDetail.body_color%></span>
                        <br>
                    </div>
                </div>
                <%}%>
                <% let distributionpics = speciesDetail.distribution_img.split(',') %>
                <% if(speciesDetail.distribution.length>0){%>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title-text" style="margin-bottom: 20px;">地理分布</h2>
                        <span>
                            <%=speciesDetail.distribution%></span>
                        <br>
                    </div>
                </div>
                <%}%>
                <% if(distributionpics[0].length>0){%>
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-large-thumb img-full text-center" style="margin: 0px auto;">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="<%=distributionpics[0]%>">
                                    <img style="width: 300px;height: 225px" src="<%=distributionpics[0]%>" alt="">
                                </a>
                                <a href="<%=distributionpics[0]%>" class="popup-img venobox" data-gall="myGallery"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                <% if(morphologypics[0].length>0){%>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title-text" style="margin-bottom: 20px;">形态图</h2>
                        <% for(let i=0,len=morphologypics.length;i<len;i++){ %>
                        <div class="tab-pane fade show active" id="product<%=i%>" style="width: 300px;height: 200px;float: left;margin: 20px;">
                            <div class="product-large-thumb img-full">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="<%=morphologypics[i]%>">
                                        <img style="width: 300px;height: 225px" src="<%=morphologypics[i]%>" alt="">
                                    </a>
                                    <a href="<%=morphologypics[i]%>" class="popup-img venobox" data-gall="myGallery"><i
                                            class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <%}%>
                <% if(speciesDetail.body_color||speciesDetail.body_length_male||speciesDetail.forewing_length_male||speciesDetail.hindFemur_length_male||speciesDetail.pronotum_length_male||speciesDetail.body_length_female||speciesDetail.forewing_length_female||speciesDetail.hindFemur_length_female||speciesDetail.pronotum_length_female){%>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-review-tab">
                            <h2 class="title-text" style="margin-bottom: 20px;">体型特征</h2>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>细胞核大小</th>
                                        <th>体长</th>
                                        <th>前翅长</th>
                                        <th>后足股节长</th>
                                        <th>前胸背板长</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i style="font-size:20px" class="fa">&#xf222</i></td>
                                        <td>
                                            <%=speciesDetail.body_color%>
                                        </td>
                                        <td>
                                            <%=speciesDetail.body_length_male%>
                                        </td>
                                        <td>
                                            <%=speciesDetail.forewing_length_male%>
                                        </td>
                                        <td>
                                            <%=speciesDetail.hindFemur_length_male%>
                                        </td>
                                        <td>
                                            <%=speciesDetail.pronotum_length_male%>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td><i style="font-size:20px" class="fa">&#xf221</i></td>
                                        <td>
                                            <%=speciesDetail.body_color%>
                                        </td>
                                        <td>
                                            <%=speciesDetail.body_length_female%>
                                        </td>
                                        <td>
                                            <%=speciesDetail.forewing_length_female%>
                                        </td>
                                        <td>
                                            <%=speciesDetail.hindFemur_length_female%>
                                        </td>
                                        <td>
                                            <%=speciesDetail.pronotum_length_female%>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <%}%>
                <% if(speciesDetail.literature.length>0){%>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title-text" style="margin-bottom: 20px;">参考文献</h2>
                        <ul style="margin-left: 20px;">
                            <% let literatures = speciesDetail.literature.split("||") %>
                            <% for(let j=0,len=literatures.length;j<len;j++){ %>
                            <li><span>
                                    <%=literatures[j]%></span> </li>
                            <%}%>
                        </ul>
                    </div>
                </div>
                <%}%>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">
                            link:
                        </label>
                        <span>
                            <%=speciesDetail.remark%></span>
                        <br>
                        <label class="control-label">
                            附件下载:
                        </label>
                        <div id="main" style="min-height: 10px">
                            <ul id="browser" class="filetree">
                                <li><span class="folder">
                                        <%=speciesDetail.species%></span>
                                    <ul>
                                        <% let fileList = speciesDetail.fileList %>
                                        <% for(let i=0,len=fileList.length;i<len;i++){ %>
                                        <li class="closed"><span class="folder">
                                                <%=fileList[i].name%></span>
                                            <ul id=<%=fileList[i].name%>>
                                                <% let speciesFolder = fileList[i].children %>
                                                <% for(let j=0,len=speciesFolder.length;j<len;j++){ %>
                                                <li class="closed"><span class="folder">
                                                        <%=speciesFolder[j].name%></span>
                                                    <ul id=<%=speciesFolder[j].name%>>
                                                        <% let speciesFile = speciesFolder[j].children %>
                                                        <% for(let k=0,len=speciesFile.length;k<len;k++){ %>
                                                        <li> <img src="layout/img/icon/Package.png" style="width: 20px;height: 20px"
                                                                alt="">
                                                            <a href="<%=speciesFile[j].value.replace('www','')%>">
                                                                <%=speciesFile[k].name%></a></li>
                                                        <%}%>
                                                    </ul>
                                                </li>
                                                <%}%>
                                            </ul>
                                        </li>
                                        <%}%>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include footer.ejs %>
    </div>
    <% include script.ejs %>
    <script type="text/javascript">
        $(function () {
            $("#browser").treeview();
            $("#browser").bind("contextmenu", function (event) {
                if ($(event.target).is("li") || $(event.target).parents("li").length) {
                    $("#browser").treeview({
                        remove: $(event.target).parents("li").filter(":first")
                    });
                    return false;
                }
            });
        })
    </script>
</body>

</html>