<!doctype html>
<html class="no-js" lang="en">

<head>
    <% include meta.ejs %>
</head>
<style>
    .basic-info .basicInfo-block {
        width: 460px;
        float: left;
    }
    .basic-info .basicInfo-block .basicInfo-item.name {
        width: 150px;
        padding: 0 5px 0 12px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        color: #999;
    }
    .basic-info .basicInfo-block .basicInfo-item.value {
        zoom: 1;
        color: #333;
        width: 285px;
        float: left;
        position: relative;
        word-break: break-all;
    }
    .basic-info .basicInfo-block .basicInfo-item {
        line-height: 26px;
        display: block;
        padding: 0;
        margin: 0;
        float: left;
    }
</style>

<body>


    <!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

    <div class="wrapper">
        <% include header.ejs %>
        <!--Breadcrumb One Start-->
        <div class="breadcrumb-one mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-img">
                            <img src="/layout/img/page-banner/product-banner.jpg" alt="">
                        </div>
                        <div class="breadcrumb-content">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="active">Single Species</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description-review-area mb-100">
            <div class="container">
                <div style="margin-bottom: 50px;">
                    <ul class="nav dec-and-review-menu">
                        <li>
                            <a class="active" data-toggle="tab" href="#">物种信息</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="basic-info cmn-clearfix">
                            <dl class="basicInfo-block basicInfo-left">
                                <dt class="basicInfo-item name">Kingdom</dt>
                                <dd class="basicInfo-item value">
                                    Animalia
                                </dd>
                                <dt class="basicInfo-item name">Phylum</dt>
                                <dd class="basicInfo-item value">
                                    Euarthropoda
                                </dd>
                                <dt class="basicInfo-item name">Subphylum</dt>
                                <dd class="basicInfo-item value">
                                    Hexapoda
                                </dd>
                                <dt class="basicInfo-item name">Class</dt>
                                <dd class="basicInfo-item value">
                                    Insecta
                                </dd>
                                <dt class="basicInfo-item name">Subclass</dt>
                                <dd class="basicInfo-item value">
                                    Pterygota
                                </dd>
                                <dt class="basicInfo-item name">order</dt>
                                <dd class="basicInfo-item value">
                                    <%=speciesDetail.order_m%>
                                </dd>
                            </dl>
                            <dl class="basicInfo-block basicInfo-right">

                                <dt class="basicInfo-item name">suborder</dt>
                                <dd class="basicInfo-item value">
                                    <%=speciesDetail.suborder%>
                                </dd>
                                <dt class="basicInfo-item name">superfamily</dt>
                                <dd class="basicInfo-item value">
                                    <%=speciesDetail.superfamily%>
                                </dd>
                                <dt class="basicInfo-item name">family</dt>
                                <dd class="basicInfo-item value">
                                    <%=speciesDetail.family%>
                                </dd>
                                <dt class="basicInfo-item name">subfamily</dt>
                                <dd class="basicInfo-item value">
                                    <%=speciesDetail.subfamily%>
                                </dd>
                                <dt class="basicInfo-item name">genus</dt>
                                <dd class="basicInfo-item value">
                                    <%=speciesDetail.genus%>
                                </dd>
                                <dt class="basicInfo-item name">species</dt>
                                <dd class="basicInfo-item value">
                                    <%=speciesDetail.species%>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <% let morphologypics = speciesDetail.morphology_img.split(',') %>
                    <div class="col-md-8">
                        <h2 class="title-text" style="margin-bottom: 20px;">introduction</h2>
                        <span>
                            <%=speciesDetail.introduction%></span>
                        <br>
                    </div>
                    <div class="col-md-4">
                        <div class="product-large-thumb img-full" style="margin-top: 60px;">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="<%=morphologypics[0]%>">
                                    <img style="width: 300px;height: 225px" src="<%=morphologypics[0]%>" alt="">
                                </a>
                                <a href="<%=morphologypics[0]%>" class="popup-img venobox" data-gall="myGallery"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <% let distributionpics = speciesDetail.distribution_img.split(',') %>
                    <div class="col-md-12">
                        <h2 class="title-text" style="margin-bottom: 20px;">地理分布</h2>
                        <span>
                            <%=speciesDetail.distribution%></span>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <div class="product-large-thumb img-full text-center" style="margin: 0px auto;">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="<%=distributionpics[0]%>">
                                    <img style="width: 300px;height: 225px" src="<%=distributionpics[0]%>" alt="">
                                </a>
                                <a href="<%=distributionpics[0]%>" class="popup-img venobox" data-gall="myGallery"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title-text" style="margin-bottom: 20px;">形态图</h2>
                        <% for(let i=0,len=morphologypics.length;i<len;i++){ %>
                        <div class="tab-pane fade show active" id="product<%=i%>" style="width: 300px;height: 200px;float: left;margin: 20px;">
                            <div class="product-large-thumb img-full">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="<%=morphologypics[i]%>">
                                        <img style="width: 300px;height: 225px" src="<%=morphologypics[i]%>" alt="">
                                    </a>
                                    <a href="<%=morphologypics[i]%>" class="popup-img venobox" data-gall="myGallery"><i
                                            class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <hr style="margin: 30px 0;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-review-tab">
                            <h2 class="title-text" style="margin-bottom: 20px;">体型特征</h2>
                            <div class="basic-info cmn-clearfix">
                                <dl class="basicInfo-block basicInfo-left">
                                    <dt class="basicInfo-item name">体色</dt>
                                    <dd class="basicInfo-item value">
                                        <%=speciesDetail.body_color%>
                                    </dd>
                                    <dt class="basicInfo-item name"><i style="font-size:20px" class="fa">&#xf222</i> 雄体长</dt>
                                    <dd class="basicInfo-item value">
                                        <%=speciesDetail.body_length_male%>
                                    </dd>
                                    <dt class="basicInfo-item name"><i style="font-size:20px" class="fa">&#xf222</i> 雄前翅长</dt>
                                    <dd class="basicInfo-item value">
                                        <%=speciesDetail.forewing_length_male%>
                                    </dd>
                                    <dt class="basicInfo-item name"><i style="font-size:20px" class="fa">&#xf222</i> 雄后足股节长</dt>
                                    <dd class="basicInfo-item value">
                                        <%=speciesDetail.hindFemur_length_male%>
                                    </dd>
                                    <dt class="basicInfo-item name"><i style="font-size:20px" class="fa">&#xf222</i> 雄前胸背板长</dt>
                                    <dd class="basicInfo-item value">
                                        <%=speciesDetail.pronotum_length_male%>
                                    </dd>
                                </dl>
                                <dl class="basicInfo-block basicInfo-right">

                                    <dt class="basicInfo-item name"> </dt>
                                    <dd class="basicInfo-item value">
                                    </dd>
                                    <dt class="basicInfo-item name"><i style="font-size:20px" class="fa">&#xf221</i> 雌体长</dt>
                                    <dd class="basicInfo-item value">
                                        <%=speciesDetail.body_length_female%>
                                    </dd>
                                    <dt class="basicInfo-item name"><i style="font-size:20px" class="fa">&#xf221</i> 雌前翅长</dt>
                                    <dd class="basicInfo-item value">
                                        <%=speciesDetail.forewing_length_female%>
                                    </dd>
                                    <dt class="basicInfo-item name"><i style="font-size:20px" class="fa">&#xf221</i> 雌后足股节长</dt>
                                    <dd class="basicInfo-item value">
                                        <%=speciesDetail.hindFemur_length_female%>
                                    </dd>
                                    <dt class="basicInfo-item name"><i style="font-size:20px" class="fa">&#xf221</i> 雌前胸背板长</dt>
                                    <dd class="basicInfo-item value">
                                        <%=speciesDetail.pronotum_length_female%>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 30px 0;">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">
                                参看文献:
                            </label>
                            <span>
                                <%=speciesDetail.literature%></span>
                            <br>
                            <label class="control-label">
                                备注:
                            </label>
                            <span>
                                <%=speciesDetail.remark%></span>
                            <br>
                            <label class="control-label">
                                附件下载:
                            </label>
                            <div id="main" style="min-height: 10px">
                                <ul id="browser" class="filetree">
                                    <li><span class="folder">
                                            <%=speciesDetail.species%></span>
                                        <ul>
                                            <% let fileList = speciesDetail.fileList %>
                                            <% for(let i=0,len=fileList.length;i<len;i++){ %>
                                            <li class="closed"><span class="folder">
                                                    <%=fileList[i].name%></span>
                                                <ul id=<%=fileList[i].name%>>
                                                    <% let speciesFile = fileList[i].children %>
                                                    <% for(let j=0,len=speciesFile.length;j<len;j++){ %>
                                                    <li> <img src="layout/img/icon/Package.png" style="width: 20px;height: 20px"
                                                            alt="">
                                                        <a href="<%=speciesFile[j].value.replace('www','')%>">
                                                            <%=speciesFile[j].name%></a></li>
                                                    <%}%>
                                                </ul>
                                            </li>
                                            <%}%>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include footer.ejs %>
    </div>
    <% include script.ejs %>
    <script type="text/javascript">
        $(function () {
            $("#browser").treeview();
            $("#browser").bind("contextmenu", function (event) {
                if ($(event.target).is("li") || $(event.target).parents("li").length) {
                    $("#browser").treeview({
                        remove: $(event.target).parents("li").filter(":first")
                    });
                    return false;
                }
            });
        })
    </script>
</body>

</html>